include requirements/*
include README.md
include docs/img/geofetch_logo.svg
include geofetch/templates/*
include geofetch/templates/config_template.yaml
include geofetch/templates/config_processed_template.yaml
include geofetch/templates/looper_sra_convert.yaml
include geofetch/templates/looper_config_template.yaml
include geofetch/templates/pipeline_interface_convert.yaml
